<!-- ./produit/creer.html -->
<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Créer un produit</title>
    </head>
    <body>
        <header th:insert="fragments/header"></header>
        <div>
            <h1>Créer un produit</h1>
            <form th:method="post" th:action="@{creer}">
                <label for="produitNom">Nom :</label>
                <input id="produitNom" name="produitNom" type="text" th:value="placeholder"><br><br>

                <label for="produitPrix">Prix unitaire HT :</label>
                <input id="produitPrix" name="produitPrix" type="number" step="0.01" th:value="placeholder" th:min="0.01">€<br><br>

                <label for="produitStock">Stock :</label>
                <input id="produitStock" name="produitStock" type="number" th:value="placeholder" th:min="0"><br><br>
                <input type="submit" value="Créer">
            </form>
        </div>
    </body>
</html>