<!-- ./produit/creer.html -->
<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Details du produit</title>
    </head>
    <body>
        <header th:insert="fragments/header"></header>
        <div>
            <h1>Liste des produits</h1>
            <table>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prix</th>
                    <th>Stock</th>
                    <th>Details</th>
                    <th>Modifier</th>
                </tr>
                <tr th:each="produit : ${produits}">
                    <td th:text="${produit.id}">Id</td>
                    <td th:text="${produit.nom}">Nom</td>
                    <td th:text="${produit.prix}">Prix</td>
                    <td th:text="${produit.stock}">Stock</td>
                    <td><a th:href="@{/produit/details/{id}(id=${produit.id})}">Voir</a></td>
                    <td><a th:href="@{/produit/modifier/{id}(id=${produit.id})}">Modifier</a></td>
                </tr>
            </table>
        </div>
    </body>
</html>